---
export interface Props {
  id: number;
  name: string;
  description: string;
  price: number;
  store: string;
}
const { id, name, description, price, store } = Astro.props;
---

<div class="product-card">
  <h2><a href={`/product/${id}`}>{name}</a></h2>
  <p>{description}</p>
  <p>Precio: ${price}</p>
  <p>Tienda: <a href={`/store/${store}`}>{store}</a></p>
</div>
